@import "tailwindcss";

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

:root {
  --slate-800: rgb(30, 41, 59);
  --slate-900: rgb(15, 23, 42);
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

